body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#education,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#workExperience,
#education {
  padding: 1em 0;
}

h1 {
  font-size: 41px;
  color: #5b5b5b;
  line-height: 48px;
  font-weight: 900;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #afc7b9;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #afc7b9;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #5b5b5b;
  line-height: 21px;
}

a {
  color: #fca89d;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #ffe1c9;
  line-height: 28px;
}

#skills-h3 {
  color: #5b5b5b;
  display: none;
}

.orange {
  background-color: #ffe1c9;
}

.orange-text {
  color: #ffe1c9;
}

.gray-text {
  color: #5b5b5b;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.orange-cream {
  background-color: #ffe1c9;
}

.salmon {
  background-color: #fca89d;
}

hr {
  color: #5b5b5b;
  height: 1px;
  border: 0;
  border-top: 2px solid #5b5b5b;
  margin: 1em 0;
  padding: 0; 
}

/* TODO: Replace with image later */
#header {
  background-color: #fca89d;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  max-width: 100%;
  padding: 10px;
}

#projects img {
  min-height: 200px;
  width: 30%;
}

#wireframe {
  min-width: 100%;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 700px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  #projects img {
    width: 65%;
  }
}

@media only screen and (min-width: 300px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  #map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  }
}
